@import 'tailwindcss';

@font-face{
    font-family: "CyberpunkWaifus";
    src: url("https://db.onlinewebfonts.com/t/eab8ba82f23d8de63cdcc380c89eb875.eot");
    src: url("https://db.onlinewebfonts.com/t/eab8ba82f23d8de63cdcc380c89eb875.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/eab8ba82f23d8de63cdcc380c89eb875.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/eab8ba82f23d8de63cdcc380c89eb875.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/eab8ba82f23d8de63cdcc380c89eb875.ttf")format("truetype");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --radius: 0.3rem;
    --font-default: "CyberpunkWaifus";

    --color-light-text:rgb(22, 22, 36);
    --color-light-background: #f6eef7;
    --color-light-primary: #ff99fa;
    --color-light-secondary: #dddbff;
    --color-light-accent: #d8d6ff;
    
    --color-text:rgb(239, 239, 243);
    --color-background:rgb(26, 26, 36);
    --color-primary: #e999e5;
    --color-secondary:rgb(35, 35, 66);
    --color-accent: #3e3b85;
}

* {
    font-family: var(--font-default);
}

body {
    background-color: var(--color-light-background);
    color: var(--color-light-text);
}

body[class="dark"] {
    background-color: var(--color-background);
    color: var(--color-text);
}

.wavy {
  animation-name: wavy;
  animation-duration: 1.3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  position: relative;
  top: 0;
  left: 0;
}
@keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}